* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
}

.janela {
  height: 100%;
  display: flex;
}

.containerNavBar {
  height: 100%;
  width: 30%;
  background-color: #a3443c;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
}

.navegacaoLateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegacaoLateral a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #c8b7c9;
  display: block;
}

.navegacaoLateral a:hover {
  color: #987a7f;
}

.conteudo {
  width: 70%;
  background-color: #987a7f;
  height: 100%;
  margin-left: 395px;
}

.h2p {
  padding: 10px;
}

/* Lista De A Fazeres */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Estilização tipo zebra */
ul li:nth-child(odd) {
  background: #b6c5bc;
}

/* Background-color cor escura com hover*/
ul li:hover {
  background: #98cead;
}

/* Cor diferente para o check para o check*/
ul li.checked {
  background: #c8b7c9;
  color: #a3443c;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #a3443c;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* estilo para o x de fechar */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/*header do todo list */
.header {
  background-color: #8aa4b3;
  padding: 30px 40px;
  color: #a3443c;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style do input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style do "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #c8b7c9;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #8aa4b3;
}

/* teste2 */
.accordion {
  background-color: #8aa4b3;
  color: #a3443c;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #98cead;
}

.accordion:after {
  content: "\002B";
  color: #a3443c;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #c8b7c9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* testando dash */
.grafic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eaeaea;
  width: 45%;
  height: 35vh;
  margin: 10px;
  padding: 5px;
}
